{% extends 'base.html' %} {% block content %}
 {{block.super}}
<div class="px-1 py-2 my-2 text-center" id="hero">
    <h1 class="display-5 fw-bold mt-5">Awwards</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="font-size: 40px;">An application that allows users to post projects he/she has created and get them reviewed and rated by other people.</p>
     
    </div>
</div>
<!-- portfolio -->
<div class="separator mt-md-5 mb-md-5">Projects</div>
<div class="b-example-divider"></div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
  
       
        {% for post in posts%}
       
            <div class="col">
              <div class="card h-100">
               
                <a href="{% url 'postdetails' post.id %}"> 
                    <img src="{{post.image.url}}" class="card-img-top" alt="..." height="300px"  width="405px">
                </a>
                 <div class="card-footer">
                    <div class="foot">
                  <small> By <b>:{{post.author}}</b></small>
                  <small>{{post.date|date}}</small>
                  </div>
                 </div>
              </div>
            </div>
      {% endfor %}
    </div>
</div> 


<!-- footer -->
<footer class="mt-4">
  <div class="footer-content">
    <ul class="socials">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2021 <a href="#">MercyWambui</a></p>
  </div>
</footer>
{% endblock%}


  <!-- <div class="card">
                <img src="{{post.image.url}}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div> -->
