{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center align-items center mt-3">
    <div class="postp p-4">
      <h1>Post Project</h1>
      <div>
        <form action="{% url 'post' %}" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {% bootstrap_form postform %}
          <div class="text-center">
            <input type="submit" value="Submit Project" class="btn btn-outline-secondary">
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>


{% endblock %}